h2 {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    color: #000000;
    font-weight: 400;
}

p {
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #000000;
    font-weight: 600;
}

.AboutUsSection {
    background-color: #f3f3f3;
    padding: 120px 56px 80px 56px;
  }

.center {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .cellLeft {
    width: 50%;
  }
  
  .imgAboutUs {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }